/*
 * 响应式媒体查询
 */
 @media screen and (min-width: 1440px) {
    .container {
      max-width: 1080px;
    }
    .content {
      min-height: 500px;
    }
}
.container.header-main{height: 48px;}
.header,.container.header-main{background: #171f26; color: white;}
.logo a .cover .name, .menu .item a{color:white;}
.logo a{opacity: 1; height: 48px; line-height: 48px;}
.header .header-main{height: 48px;}
.logo a .cover .name{font-size: 24px;}
.menu .item{font-size: 14px; height: 28px; line-height: 28px;}